@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Ürün Ekleme Paneli</div>
            </div>
            <form method="post">
                <div class="card-body">
                    <table class="table table-hover">
                        <td>
                            <label>Ürün Adı</label>
                            <input type="text" asp-for="ProductName" class="form-control">
                            <br />
                            <label>Görsel</label>
                            <input type="text" asp-for="ProductImageURL" class="form-control" style="width: 150px; height: 150px;">
                            <br />
                            <label>Ürün Fiyatı</label>
                            <input type="text" asp-for="Price" class="form-control">
                            <br />
                        </td>

                    </table>
                </div>
                <button class="btn btn-outline-primary" style="margin:10px">Ürün Ekle</button>
            </form>
        </div>

    </div>
</div>

